<div class="container invoice-maker-container">
    <div class="invoice-header">
        <div class="row invoice-header-title">
            <div>
                <h1>Invoice</h1>
                <div *ngIf="invoiceMade" class="invoice-header-issued">
                    <p><strong>Invoice number:</strong> {{ invoiceNum }}</p>
                    <p><strong>Issued date:</strong> {{ issuedDate | date:'dd/MM/yy' }}</p>
                </div>
            </div>
        </div>
        <div class="row invoice-header-text">
            <div class="invoice-user-section">
                    <p> <strong>{{user.name}} {{user.surname}}</strong></p>
                    <p>{{user.birthDate}}</p>
                    <p>Passport: {{user.passportCode}}</p>
                    <p>Issuing country: {{user.country}}</p>
                    <p>Residency country: {{user.residence}}</p>
            </div>
            <div class="invoice-address-section">
                    <p><strong>{{user.address.name}}</strong></p>
                    <p>{{user.address.code}}</p>
                    <p>{{user.address.street}}</p>
                    <p>{{user.address.cap}} {{user.address.city}}</p>
            </div>
        </div>
    </div>
    <div class="table-responsive">
      <table class="invoice-product-table mt-5 table table-striped table-borderless text-nowrap">
            <thead
                class="invoice-product-table-header">
                <tr>
                    <th class="th-lg"> {{'   '}} </th>
                    <th class="th-lg" *ngFor="let header of headers"
                        scope="col">
                        {{ header }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr 
                    class="invoice-product-row"
                    *ngFor="let product of products;let i = index"> 
                    <td class="product-delete-button-wrapper" >
                        <button [disabled]="invoiceMade" (click)="onDeleteProduct(i)">
                            <strong>-</strong>
                        </button>
                    </td>
                    <td>
                        <span>{{ product.code }}</span>
                    </td>
                    <td>
                        <span>{{ product.description }}</span>
                    </td>
                    <td>
                        <span>{{ product.quantity }}</span>
                    </td>
                    <td>
                        <span>{{ product.unitPriceWithVat }}</span>
                    </td>
                    <td>
                        <span>{{ product.vatRate }}%</span>
                    </td>
                    <td>
                        <span>{{ product.netPrice }}</span>
                    </td>
                </tr>
      </table>
      <!-- form -->
      <invoice-product-table-add
        (productAdded)="onProductAdded($event)">
      </invoice-product-table-add>
    </div>
    <invoice-cost-calculator
        [products]="products"
        (discountApplied)="onDiscountApplied($event)">
    </invoice-cost-calculator>
    <div 
        class="alert alert-danger"
        *ngIf="error">
        <span> {{error}} </span>
    </div> 
    <div 
        class="alert alert-success"
        *ngIf="invoiceNum">
        <span> Invoice created successfully! you can check your invoice number at the top of this page </span>
    </div> 
    <div class="row products-submit-button-wrapper">
        <button [disabled]="invoiceMade" (click)="onProductsSubmit()">
            <strong>CREATE INVOICE</strong>
        </button>
    </div>
</div>