.invoice-maker-add-product-wrapper {
    .row.invoice-maker-add-product-row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .submit-button-wrapper {
        display: flex;
        justify-content: flex-end;
        button {
            border-radius: 50%;
        }
    }
 }
