<div class="invoice-maker-add-product-wrapper">
    <hr>
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
      <div class="row invoice-maker-add-product-row">
          <div class="col-2 code-wrapper">
              <div class="form-group">
                <input 
                  type="text" 
                  id="code"
                  class="form-control"
                  placeholder="Code"
                  formControlName="code">
              </div>
          </div>
          <div class="col-3">
                <div class="form-group">
                  <input 
                    type="text" 
                    id="description"
                    class="form-control"
                    placeholder="Description"
                    formControlName="description">
                </div>
                <div 
                  class="alert alert-danger"
                  *ngIf="!addProductForm.disabled && !addProductForm.get('description').valid && addProductForm.get('description').touched">
                    <span *ngIf="addProductForm.get('description').errors && addProductForm.get('description').errors['required']">this field is mandatory</span>
                    <br>
                    <span *ngIf="addProductForm.get('description').errors && addProductForm.get('description').errors['minLengthWithoutDoubledSpaces']">this field needs at least 5 chars</span>
                </div> 
          </div>
          <div class="col-1 quantity-wrapper">
                <div class="form-group">
                  <input 
                    type="number" 
                    id="quantity"
                    min="1"
                    class="form-control"
                    formControlName="quantity"
                    (change)="updateNetPrice(addProductForm.value)">
                </div>
                <div 
                  class="alert alert-danger"
                  *ngIf="!addProductForm.disabled && !addProductForm.get('quantity').valid && addProductForm.get('quantity').touched">
                    <span *ngIf="addProductForm.get('quantity').errors && addProductForm.get('quantity').errors['required']">this field is mandatory</span>
                    <br>
                    <span *ngIf="addProductForm.get('quantity').errors && addProductForm.get('quantity').errors['min']">at least 1 product required</span>
                </div> 
          </div>
          <div class="col-2 price-wrapper">
                <div class="form-group">
                  <input 
                    type="text"
                    id="unitPriceWithVat"
                    class="form-control"
                    formControlName="unitPriceWithVat"
                    (change)="updateNetPrice(addProductForm.value)">
                </div>
                <div 
                  class="alert alert-danger"
                  *ngIf="!addProductForm.disabled && !addProductForm.get('unitPriceWithVat').valid && addProductForm.get('unitPriceWithVat').touched">
                  <span *ngIf="addProductForm.get('unitPriceWithVat').errors && addProductForm.get('unitPriceWithVat').errors['required']">this field is mandatory</span>
              </div> 
          </div>
          <div class="col-1 vat-wrapper">
                <div class="form-group">
                    <select
                      id="vatRate"
                      class="form-control"
                      formControlName="vatRate"
                      (change)="updateNetPrice(addProductForm.value)">
                      <option 
                        *ngFor="let vat of vats" 
                        [value]="vat">
                        {{ vat }}%
                      </option>
                  </select>
                </div>
          </div>
          <div class="col-1 netprice-wrapper">
                <div class="form-group">
                  <span>{{ netPrice.toFixed(2) | currency: 'EUR':true }}</span>
                </div>
          </div>     
      </div>
      <hr>
      <div class="submit-button-wrapper">
          <button 
          class="btn btn-primary"
          id="submitButton" 
          type="submit"
          [disabled]="!addProductForm.valid">
          <strong>+</strong>
        </button>
      </div>  
    </form>
</div>