<div class="row invoice-cost-calculator-container">
    <div class="row invoice-cost-calculator-wrapper">
        <div class="col-7"></div>
        <div class="col-5">
            <div class="row">
                <div class="col-6">
                    <span>Subtotal</span>
                </div>     
                <div class="col-6 subtotal-row">
                    {{getSubtotal() | currency: 'EUR': true}}
                </div>
            </div>    
            <div class="row">
                <div class="col-6">
                    <span>Net discount</span>
                </div>                  
                <div class="col-6 discount-wrapper">
                    <input 
                        [disabled]="disableNetDiscount"
                        type="text" 
                        id="discount"
                        class="form-control"
                        [(ngModel)]="discount">
                </div>
            </div>    
            <div class="row total-row-wrapper">
                <div class="col-6">
                    <span>Total</span>
                </div>                  
                <div class="col-6 total-row">
                    {{ getTotal() | currency: 'EUR': true}}
                </div>
            </div>    
            <div class="row round-cents-row">
                <button (click)="applyDiscount()" class="round-cents-wrapper">
                    <strong>ROUND CENTS</strong>
                </button>
                <button (click)="removeDiscount()" class="round-cents-wrapper">
                        <strong>REMOVE DISCOUNT</strong>
                </button>
            </div>
        </div>
    </div>
</div>